header {
    background-image: url("https://wallpapercave.com/wp/wp12247845.jpg");
    background-position: center center;
    background-size: cover;
    
}

#hero-text {
color: white !important;
text-shadow: 2px 2px 5px white;
}

header p {
    color: white;
    font-size: 24px;
    font-weight: 900 !important;
    text-shadow: 1px 1px 2px white;
}
header .btn {
    background-color: Gray;
    border-color: white;
    color: White;

}
header .btn:hover {
     background-color: Black;
    border-color: White;
    color: White
}